
@media screen  and (max-width: 800px) {
    ._sidebar_main_section{
        display: none !important;
    }

    .profile_link_section{
        display: none !important;
    }

    /* .search_bar {
        display: none !important;
    } */

}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .main_content_section .col-md-6{
        width: 100% !important;
    }
    ._sidebar_main_section{
        display: none !important;
    }
    ._info_sidebar_main_section{
        display: none !important;
    }
    .info_side_section{
        display: none !important;
    }
    /* .sidebar_section {
        display: none !important;
    } */
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .main_content_section .col-md-6{
        width: 100% !important;
    }
    ._sidebar_main_section{
        display: none !important;
    }
    ._info_sidebar_main_section{
        display: none !important;
    }
    .info_side_section{
        display: none !important;
    }
    .sidebar_section {
        display: none !important;
    }
}
