/*

===============================================================
Software Name: UBook
Description : UBook is a university community based study portal community software where the students and the teachers and 
the university community staff can use for study and for social engaement. It is specially developed and designed for the students for the university. Students and teachers can use it for submitting assignments, giving and publishing newses and announcements, for study, for shedules and for exams and so on.
Aurthor: This software is desinged and developed by the one and only aurthor of the software and this also the aurthor of the website Mr.Lokeshwar Deb. No one can use this website without the permission of the one and only aurthor Mr.Lokeshwar Deb. NOTE: NO ONE CAN USE THIS WEBSITE WITHOUT THE PERMISSION OF MR.LOKESHWAR DEB. ANY KIND OF COMMERTIAL RO BUSSINESS USEAGE WILL BE ILLEGAL.

License: NOTE: NO ONE CAN USE THIS WEBSITE WITHOUT THE PERMISSION OF MR.LOKESHWAR DEB. ANY KIND OF COMMERTIAL RO BUSSINESS USEAGE WILL BE ILLEGAL.

License from the user: UBOK_LOKESH_DEB_6_10_2023_SOFT_11225452_GFTD_SHIV






================================================================

*/